<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Public/css/style-cliente.css">
</head>

<body>
    <style>
    </style>
    <header>
        <section>
            <div class="icon"><img src="/Public/img/icon-profile.svg" alt="profile-icon"></div>
            <h1>Portal del cliente</h1>
            <p>Estado de tu cuenta y pagos</p>
            <div class="tager">
                Gestionado por Visel
            </div>
        </section>
    </header>
    <main>
        <section class="data">
            <div class="header-sec">
                <div class="info">
                    <div class="profile-photo"><span>A</span></div>
                    <div class="info-data">
                        <span class="name">asaelhb</span>
                        <span class="email">asaelhernandezbutista@gmail.com</span>
                        <span class="reference">alguna referencia del cliente.</span>
                    </div>
                </div>
                <div class="tag">
                    <!-- <img src="" alt="icon-status"> -->
                    Pagado Completamente
                </div>
            </div>
        </section>
        <section class="resumen">
            <div class="cont-sec">
                <div class="header">
                    Resumen de Pagos
                </div>
                <div class="main">
                    <div class="cards">
                        <div class="total">
                            <div class="icon">$</div>
                            <p>Monto Total</p>
                            <p class="mon">
                                $120
                            </p>
                        </div>
                        <div class="pagado">
                            <div class="icon">&copy</div>
                            <p>Monto Pagado</p>
                            <p class="mon">$50</p>
                        </div>
                        <div class="pendiente">
                            <div class="icon">&copy</div>
                            <p>Saldo Pendiente</p>
                            <p class="mon">$70</p>
                        </div>
                    </div>
                    <div class="progres">
                        <p>Progreso d Pago</p>
                        <progress value="50" min="0" max="120"></progress>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>