<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Public/css/style-cliente.css">
</head>

<body>
    <style>
    </style>
    <header>
        <section>
            <div class="icon"><img src="/Public/img/icon-profile.svg" alt="profile-icon"></div>
            <h1>Portal del cliente</h1>
            <p>Estado de tu cuenta y pagos</p>
            <div class="tager">
                Gestionado por Visel
            </div>
        </section>
    </header>
    <main>
        <section class="data">
            <div class="header-sec">
                <div class="info">
                    <div class="profile-photo">A</div>
                    <div class="info-data">
                        <span class="name">asaelhb</span>
                        <span class="email">asaelhernandezbutista@gmail.com</span>
                        <span class="phone">+527713532254</span>
                    </div>
                </div>
                <div class="tag">
                    <!-- <img src="" alt="icon-status"> -->
                    Pagado Completamente
                </div>
            </div>
        </section>
    </main>

</body>

</html>