<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Public/css/style.css">
</head>
<body>
    <form action="" method="post">
        <img src="/Public/img/logo.svg" alt="logo" width="50px" height="50px">
        <h1>clientes</h1>
        <p>Bienvenido de vuelta! Inicia sesión para continuar.</p>
        <div class="inputs">
            <label for="email">Correo electronico *</label>
            <input type="email" name="email" id="email" placeholder="tu@email.com">
            <label for="password">Contraseña *</label>
            <input type="password" name="password" id="password" placeholder="Tu contraseña">
            <label for="view-pass"><input type="checkbox" name="view-pass" id="view-pass"> Mostrar contraseña.</label>
            <input type="submit" value="Iniciar Sesión">
        </div>
    </form>

<script>
    let btnView = document.getElementById('view-pass');
    let inPass = document.getElementById('password');

    btnView.addEventListener('change', ()=>{
        if(btnView.checked){
            inPass.type = 'text';
        }else{
            inPass.type = 'password';
        }
    })
</script>